#memories-root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.memory {
  margin-top: 10px;
  margin-left: 10px;
  width: 200px;
  height: 200px;
  background-color: cornflowerblue;
  box-sizing: border-box;
  border-radius: 10px;
  color: black;
  text-shadow: 0 0 3px black;
  position: relative;
}

